{% extends 'layout.twig' %}

{% block body %}
<div>Регистрация</div>
<form action="/users/register" method="post">
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="text" name="phone" placeholder="80001112233">
  <input type="submit" value="Submit">
</form>
<br>
<div>Восстановление пароля</div>
<form action="/users/restore" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="submit" value="Submit">
</form>
{% endblock %}
